[Unit]
Description=Daphne for E-commerce WebSockets
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/ecommerce/backend
Environment="PATH=/home/ubuntu/ecommerce/venv/bin"
ExecStart=/home/ubuntu/ecommerce/venv/bin/daphne -b 127.0.0.1 -p 8001 backend.asgi:application

[Install]
WantedBy=multi-user.target
